<!-- Navigation -->

<section class="navbar">
  
  <ul>
    <li class="nav-link"><a href="#">Home</a><div class="underline"></div></li>
    <li class="nav-link"><a href="#">About Me</a><div class="underline"></div></li>
    <li class="nav-link"><a href="#">My work</a><div class="underline"></div></li>
    <li class="nav-link"><a href="#">Blog</a><div class="underline"></div></li>
    <li class="nav-link"><a href="#">Contact</a><div class="underline"></div></li>
  </ul>

</section>

<!-- Banner Hero -->

<section class="banner">
  
  <div class="banner_text">
    <h1>Hello, I'm<br><span>Kyle Williamson.</span></h1>
    <h2>Full Stack Web Developer | Front End specialization</h2>
    <a href="#" class="btn">Contact Me</a>
  </div>

</section>

<!-- About Me -->

<section class="about">
  
  <div class="about-box">
    <div class="about-content">
      <div class="about-head">
        <h1>About me</h1>
      </div>
      <p>Tempor et labore nulla velit pariatur 
      deserunt minim aliqua minim. Dolor enim sunt 
      mollit nisi elit duis id. Ut ipsum laboris 
      amet mollit Lorem. Aute consectetur quis 
      non amet nisi mollit enim esse sunt sint. 
      Occaecat nulla magna velit tempor. 
      Nostrud minim adipisicing irure sint sunt 
      magna enim deserunt in consectetur laboris 
      dolore. Aute eiusmod laboris velit deserunt 
      pariatur ad aute excepteur exercitation do enim 
      sunt.<br><br>
      Nostrud minim adipisicing irure sint sunt 
      magna enim deserunt in consectetur laboris 
      dolore. Aute eiusmod laboris velit deserunt 
      pariatur ad aute excepteur exercitation do enim 
      sunt.</p>
    </div>
  </div>

</section>

<!-- My work -->

<section class="my-work">

  <div class="projects-title">
    <h1>Here are some of my projects!</h1>
  </div>
  <div class="my-work-content">
    <div class="project-box">
      <div class="project-image"><%= image_tag('Omnifood.jpg', style: 'max-width: 100%;') %></div>
      <div class="project-text">
        <h2>Omnifood</h2>
        <p>This was my very first completed website built following an HTML and CSS Udedmy course! 
        It's all just HTML and CSS and I love the style!</p>
        <button>View project</button>
      </div>
    </div>
    <div class="project-box">
      <div class="project-text">
        <h2>Project 2</h2>
        <p>Elit consectetur pariatur consequat fugiat tempor commodo ut irure elit. Ipsum fugiat fugiat laborum ullamco do commodo nisi exercitation est id labore cupidatat laboris non.</p>
        <button>View project</button>
      </div>
    </div>
    <div class="project-box">
      <div class="project-text">
        <h2>Project 3</h2>
        <p>Sit magna proident dolor consectetur. Laboris commodo occaecat aliqua excepteur deserunt labore aute.</p>
        <button>View project</button>
      </div>
    </div>
  </div>

</section>

<!-- Contact Info -->

<section class="contact">

  <div class="contact-box">
    <div class="contact-info">
      <h1>Feel free to contact me through e-mail or phone!</h1><br><br>
      <h2><ion-icon name="person-outline"></ion-icon>:  Kyle Williamson</h2><br><br>
      <h2><ion-icon name="mail-outline"></ion-icon>:  kylew.webdev@gmail.com</h2><br><br>
      <h2><ion-icon name="call-outline"></ion-icon>:  (720)626-4959</h2>  
    </div>
  </div>

</section>

<!-- Footer -->

<footer>

  <div class="footer-box">
    <div class="footer-text">
      <p>Proudly built by Kyle Williamson - 2020</p>
    </div>
    <div class="social-links">
      <ul>
        <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></i></a></li>
      </ul>
    </div>
  </div>

</footer>

<!-- Ion Icons script -->

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>