<section>
  <div class="banner">
    <ul class="textbox">
      <h1>Hello, I'm Kyle Williamson</h1>
      <h3>I'm a Full Stack Web Developer.</h3>
      <a href="#" class="btn">About Me</a>
    </ul>
  </div>
</section>