<!-- Navigation -->

<section class="navbar">
  
  <ul>
    <li class="nav-link"><a href="#">Home</a><div class="underline"></div></li>
    <li class="nav-link"><a href="#">About Me</a><div class="underline"></div></li>
    <li class="nav-link"><a href="#">My work</a><div class="underline"></div></li>
    <li class="nav-link"><a href="#">Blog</a><div class="underline"></div></li>
    <li class="nav-link"><a href="#">Contact</a><div class="underline"></div></li>
  </ul>

</section>

<!-- Banner Hero -->

<div class="banner-box">
  <section class="banner">
    
    <div class="banner_text">
      <h1>Hello, I'm<br><span>Kyle Williamson.</span></h1>
      <h2>Full Stack Web Developer | Front End specialization</h2>
      <a href="#" class="btn">Contact Me</a>
    </div>

  </section>
</div>

<!-- About Me -->

<section class="about">
  
  <div class="about-box">
    <div class="about-content">
      <div class="about-head">
        <h1>About me</h1>
      </div>
      <p>Commodo cillum id dolore irure. 
      Eiusmod culpa irure dolor veniam pariatur 
      incididunt eu anim aliqua anim dolore id. 
      Magna laboris cupidatat occaecat ullamco ex 
      quis incididunt. Velit qui enim cupidatat 
      elit commodo culpa exercitation mollit 
      cupidatat labore culpa anim. Voluptate quis
      magna incididunt reprehenderit laborum dolor 
      amet nisi esse elit et. Esse mollit consequat 
      velit aliquip.</p>
  </div>

</section>

<!-- My work -->

<section class="my-work">

  <div class="projects-title">
    <h1>Here are some of my projects!</h1>
  </div>
  <div class="my-work-content">
    <div class="project-box">
      <div class="project-image"><%= image_tag('Omnifood.jpg', style: 'max-width: 100%;') %></div>
      <div class="project-text">
        <h2>Omnifood</h2>
        <p>This was my very first completed website built following an HTML and CSS Udedmy course! 
        It's all just HTML and CSS and I love the style!</p>
      </div>
    </div>
    <div class="project-box">
      <div class="project-text">
        <h2>Project 2</h2>
        <p>Project 2 coming soon!</p>
      </div>
    </div>
    <div class="project-box">
      <div class="project-text">
        <h2>Project 3</h2>
        <p>Project 3 coming soon!</p>
      </div>
    </div>
  </div>

</section>

<!-- Contact Info -->

<section class="contact">

  <div class="contact-box">
    <div class="contact-info">
      <h1 class="contact-head">Feel free to contact me through e-mail or phone!</h1><br><br>
      <h2 class="contact-icon"><ion-icon name="person-outline"></ion-icon></h2>
      <h2>Kyle Williamson</h2>
      <br>
      <h2 class="contact-icon"><ion-icon name="mail-outline"></ion-icon></h2>
      <h2>kylew.webdev@gmail.com</h2>
      <br>
      <h2 class="contact-icon"><ion-icon name="call-outline"></ion-icon></h2>
      <h2>(720) 626-4959</h2>
      <br>
      <ul class="social-links">
        <li><a href="https://github.com/Kyle-Williamson-Dev" class="github-link"><ion-icon name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.linkedin.com/in/kyle-williamson-dev/" class="linkedin-link"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
        <li><a href="https://www.facebook.com/totallykylegaming" class="facebook-link"><ion-icon name="logo-facebook"></ion-icon></i></a></li>
      </ul>
    </div>
  </div>

</section>

<!-- Footer -->

<footer>

  <div class="footer-box">
    <div class="footer-text">
      <p>Proudly built by Kyle Williamson - 2020</p>
    </div>
  </div>

</footer>

<!-- Ion Icons script -->

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>