<section class="banner">
  <div class="textbox">
    <h1>Hello, I'm<br><span>Kyle Williamson.</span></h1>
    <h2>I'm a Full Stack Web Developer.</h2>
    <a href="#" class="btn">About Me</a>
  </div>
</section>