@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

// Banner //

.banner {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(COoutdoors.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px;
  box-shadow: 0 0 60px 0 black;
}

.banner h1 {
  font-size: 3em;
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
}

.banner h1 span {
  font-weight: 700;
}

.banner h2 {
  color: #fff;
  padding: 10px 0 20px;
  font-weight: 400;
}

.btn {
  position: relative;
  background: #046bcc;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  transition: color 0.5s, background-color 0.5s, border 0.5s;
}

.btn:hover{
  color: #046bcc;
  background: #fff; 
}

// Navigation //

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  z-index: 1000;
  display: flex;
  background-color: black;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  color: #fff;
  display: inline-block;
  margin: 15px;
  padding: none;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.5s;
}

header ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

header ul li:hover .underline {
	background-color: #046bcc;
	width: 80%;
}


// About //

.about {
  padding: 150px;
  background-color: #f1efef;

}

.about-box {
  margin: auto;
  width: 50%;
  padding: 20px;
  background-color: #fff;
  justify-content: center;
}

.about-head {
  text-align: center;
  font-size: 30px;
  color: #046bcc;
  padding-bottom: 25px;
}

// My Work //

.my-work {
  height: 100vm;
}